.card {
  width: 100%;
  height: 100%;
  background-color: blue;
  display: flex;
  margin: 2px;
  justify-content: center;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
}
.card-image {
  width: 150px;
  height: 150px;
  align-self: center;
}
.flip {
  transform: rotateY(180deg);
}

.front {
  background-color: red;
}

.done {
  background-color: green;
}
.animate {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}
